.alert-msg{
	color: red;
	font-size: 12px;
}

@media only screen and (max-width: 320px){
	h1{
		font-size: 35px;
	}
	.cardPadding{
		padding: 1.5rem;
	}

	.loginContainer{
		min-width: 0px;
		min-height: 500px;
	}

}

@media only screen and (max-width: 367px){
	h1{
		font-size: 28px;
	}
}
@media only screen and (min-width: 576px){
	h1{
		font-size: 28px;
	}
	label,a{
		font-size: 15px;
	}
	.card-body{
		padding: 0px;
	}

	.bg-pride{
		background:#018b8b;
	}

	.text-pride{
		color:#bd2121;
	}

	.cardPadding{
		padding: 4.5rem;
	}

	.loginContainer{
		min-width: 320px;
		min-height: 500px;
	}

}

.btn-submit {
	background-color: white;
	color:black;
}

.btn-login {
	background-color: #018b8b;
	border-color: #018b8b;
	width: 100%;
}

#googleBtn {
	width: 100%;
	border-color: black;
}

#_google {
	text-align: center;
}

.content{
	position: absolute;
	left: 0;
	width: 100%;
}
