  <!--Login-register-front-page-->
  <div class="py-5 loginContainer">
    <div class="container">
      <div class="card text-white cardPadding cards bg-primary col-sm-6 mx-auto">
        <div class="card-body">
          <h1 class="mb-4">{{ 'LOGIN.FORGOTPASSWORD' | translate }}</h1>
          <form [formGroup]="registerForm">
            <div class="form-group">
             <label>{{ 'LOGIN.FIND-YOU' | translate }}</label>
             <input  type="email" formControlName="username" class="form-control" placeholder="{{ 'LOGIN.EMAIL' | translate }}"> 
             <div *ngIf="registerForm.get('username').touched && registerForm.get('username').invalid" class="alert-msg">
              <div *ngIf="registerForm.get('username').hasError('required')">
                {{ 'LOGIN.ERRORUNREQ' | translate }}  
              </div>
              <div *ngIf="registerForm.get('username').hasError('email') && !registerForm.get('username').hasError('required')">
                {{ 'LOGIN.ERRORUNINV' | translate }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="registerForm.invalid" (click)="forgot()">{{ 'BUTTONS.SUBMIT' | translate }}</button>
        </form>
      </div>
    </div>   
  </div>
</div>


