  <!-- <app-navbar></app-navbar> -->
  <!--Modal -->
  <div class="modal fade" id="Modal" role="dialog">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title modallabel">{{ 'HEADER.LOCATION.CITY' | translate }}</h4>
      </div>
      <!-- this is for body for dropdown to select city -->
      <div class="modal-body text-center pb-0">
       <select class="dropdown btn btn-light dropdown-toggle ml-0" [(ngModel)]="tempselected.a">
         <option *ngFor=" let city of cities" value={{city}}>{{city}}</option>
       </select>
       <br>
       <div class="container-fluid">
         <div class=" row text-center pt-2">
          <div class="col-6 col-sm-4 col-lg-2 px-0">
           <button id="_setImg"  (click)="setCity('Hyderabad')" data-dismiss="modal">
             <span>
               <img src="../../../assets/hyderabad.png" class="maincities" alt="Hyderabad">
               <p>Hyderabad</p>
             </span>
           </button>
         </div>
         <div class="col-6 col-sm-4 col-lg-2 px-0">
          <button id="_setImg"  (click)="setCity('Mumbai')" data-dismiss="modal">
           <span>
            <img src="https://image.flaticon.com/icons/png/128/444/444788.png" class="maincities" alt="Mumbai">
            <p>{{ 'HEADER.LOCATION.CITIES.2' | translate }}</p>
          </span>
        </button>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 px-0">
       <button id="_setImg"  (click)="setCity('Chandigarh')" data-dismiss="modal">
         <span>
           <img src="https://cdn.iconscout.com/public/images/icon/premium/png-256/chandigarh-openhand-monument-architecture-symbol-39a0c693561273cd-256x256.png" class="maincities" alt="Chandigarh">
           <p>{{ 'HEADER.LOCATION.CITIES.1' | translate }}</p>
         </span>
       </button>
     </div>
     <div class="col-6 col-sm-4 col-lg-2 px-0">
      <button  id="_setImg" (click)="setCity('Delhi')" data-dismiss="modal">
        <span >
         <img src="../../../assets/delhi.png" class="maincities" alt="Delhi"/>
         <p >{{ 'HEADER.LOCATION.CITIES.0' | translate }}</p>
       </span>
     </button>
   </div>
   <div class="col-6 col-sm-4 col-lg-2 px-0">
     <button id="_setImg"  (click)="setCity('Ahmedabad')" data-dismiss="modal">
       <span>
         <img src="../../../assets/ahmedabad.png" class="maincities" alt="Ahmedabad">
         <p>Ahmedabad</p>
       </span>
     </button>
   </div>
   <div class="col-6 col-sm-4 col-lg-2 px-0">
     <button id="_setImg"  (click)="setCity('Bengaluru')" data-dismiss="modal">
       <span>
         <img src="../../../assets/bengaluru.png" class="maincities" alt="Bengaluru">
         <p>Bengaluru</p>
       </span>
     </button>
   </div>
 </div>
</div>
</div>
<div class="modal-footer">
  <span>
    <button type="button" class="btn btn-default " data-dismiss="modal"  (click)="favouriteCity(tempselected)">{{ 'HEADER.LOCATION.CONTINUE' | translate }}</button>
    <button type="button" class="btn btn-dark " data-dismiss="modal">{{ 'HEADER.LOCATION.SKIP' | translate }}</button>
  </span>
</div>
</div>
</div>
</div>
<div class="sticky-top header-shadow">
  <app-location [obj]="selected"></app-location>
  <app-navbar [userLocation]="selected.a"></app-navbar>
</div>
