@media (min-width: 992px) {
	.middle-button {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background: rgba(0, 0, 0, 0.3);
	}

	.middle-button-data {
		color: white;
	  font-size: 20px;
	  position: absolute;
	  top: 84%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}

	.middle-button button {
		border-radius: 50px;
	}

	.img-over-button {
		position: relative;
	    width: 50%;
	}

	.card-image {
		display: block;
	  width: 100%;
	  height: auto;
	}

	.img-over-button:hover .middle-button {
	  opacity: 1;
	}
}

@media (max-width: 991.98px) {
	.middle-button-large {
		height: 88%;
	}

	.middle-button-large button {
		width: 90px;
	}
}

.card-rating {
	border-radius: 0px 5px 0px 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.offer-deleted-price {
	color: #999;
	font-size: 14px;
}

.card-rating span {
	color: #999;
}

.card-footer-button-group {
	width: 100%
}

.card-footer-button-group button {
	width: 50%;
	border-radius: 4px !important;
}

.img-hover-cursor {
	cursor: pointer;
}

h5 {
	cursor: pointer;
}

/* to center align an image */

.card-w{
	cursor: pointer;
	max-width: 18rem;
	min-height: 22rem;
	max-height: 22rem;
}

.card-data {
	margin-left: -1.1rem;
	font-family: 'Julius Sans One', sans-serif;
	margin-top: -0.5rem;
}

.card-discount {
	font-family: 'Poiret One', cursive;
}

.card-heading {
	font-size: 0.9rem;
}

.card-discounted-price {
	color:red;
}

a {
	color:grey;
}

a:hover{
	text-decoration: none;
}
