<div class="py-5 px-2 xyz my-2">
  <div class="container abc d-flex align-items-center justify-content-center">
    <div class="row border rounded p-2">
      <!-- This form will display the vendor details  -->
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName"> {{ 'USER.SELLER.FIRST-NAME' | translate }}</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="{{firstName}}" disabled [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">{{ 'USER.SELLER.LAST-NAME' | translate }}</label>
            <input type="lastName" class="form-control" id="lastName" placeholder="{{lastName}}" disabled [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">{{ 'USER.SELLER.CONTACT' | translate }} </label>
            <input type="phone" class="form-control" id="phone" placeholder="{{phone}}" disabled [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-6">
            <label for="emailId">{{ 'USER.SELLER.EMAIL' | translate }}</label>
            <input type="emailId" class="form-control" id="emailId" placeholder="{{emailId}}" disabled [(ngModel)]="emailId" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">{{ 'USER.SELLER.ADDRESS.TITLE' | translate }}</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="{{street}}" disabled [(ngModel)]="street" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">{{ 'USER.SELLER.ADDRESS.CITY' | translate }}</label>            
            <select name=slist class="form-control" id="inputCity" disabled [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
              <option value="">{{city}}</option>
              <option *ngFor="let city of cities" value={{city}}>{{city}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">{{ 'USER.SELLER.ADDRESS.STATE' | translate }}</label>
            <select name=slist class="form-control" id="inputState" disabled [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
              <option value="">{{state}}</option>
              <option *ngFor="let state of states" value={{state}}>{{state}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">{{ 'USER.SELLER.ADDRESS.ZIP' | translate }}</label>
            <input type="text" class="form-control" id="inputZip" placeholder="{{zip}}" disabled [(ngModel)]="zip" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <label for="inputShopName">{{ 'USER.SELLER.ADDRESS.SHOP-NAME' | translate }}</label>
          <input type="text" class="form-control" id="inputShopName" placeholder="{{shopName}}" disabled [(ngModel)]="shopName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="checkbox pb-2">
          <input type="checkbox" (click)="setCheckboxAddress()" id="SameCheckbox" value="SameAsAbove">{{ 'USER.SELLER.ADDRESS.SAME' | translate }} 
        </div>
        <div class="form-group">
          <label for="inputShopAddress">{{ 'USER.SELLER.ADDRESS.SHOP' | translate }}</label>
          <input type="text" class="form-control" id="inputShopAddress" placeholder="{{shopStreet}}" disabled [(ngModel)]="shopStreet" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputShopCity">{{ 'USER.SELLER.ADDRESS.CITY' | translate }}</label>
            <select name=slist class="form-control" id="inputShopCity" disabled [(ngModel)]="shopCity" [ngModelOptions]="{standalone: true}">
              <option value=""></option>
              <option *ngFor="let city of cities" value={{city}}>{{city}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <div *ngIf="shopCity==city">
              {{setShopAddress()}}
              <label for="inputShopState">{{ 'USER.SELLER.ADDRESS.STATE' | translate }}</label>
              <input type="text" class="form-control" id="inputShopState" placeholder="{{shopState}}" disabled [(ngModel)]="shopState" [ngModelOptions]="{standalone: true}">
            </div>
            <div *ngIf="shopCity!=city">
              <label for="inputShopState">{{ 'USER.SELLER.ADDRESS.STATE' | translate }}</label>
              <select name=slist class="form-control" id="inputShopState" disabled [(ngModel)]="shopState" [ngModelOptions]="{standalone: true}">
                <option value=""></option>
                <option *ngFor="let state of states" value={{state}}>{{state}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="inputShopZip">{{ 'USER.SELLER.ADDRESS.ZIP' | translate }}</label>
            <input type="text" class="form-control" id="inputShopZip" placeholder="{{shopZip}}" disabled [(ngModel)]="shopZip" [ngModelOptions]="{standalone: true}">
          </div>
        </div>   
        <button type="submit" class="btn button justify-content-cente" (click)="submit()">{{ 'BUTTONS.SAVE' | translate }}</button>
        <button type="button" class="btn button justify-content-cente" (click)="undisableTxt()">{{ 'BUTTONS.EDIT' | translate }}</button>
      </form>
    </div>
  </div>
</div>
