<header class="header-shadow">
  <!-- Navbar -->
  <nav class="navbar m-0 py-0 navbar-expand-lg navbar-dark bg-white">
    <!-- Logo -->
    <a [routerLink]="['/homepage',userLocation]" class="pb-2"><span class="logo">Offer<font class="dot">.</font>Shopper</span></a>
    <button class="navbar-toggler bg-dark header-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-9 d-flex justify-content-center">
      <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-0 mb-0 mt-2 mt-lg-0 justify-self-center">
          <li class="nav-item nav-text ml-3">
            <a id="home-button" class="nav-link text-dark" [ngClass]="{active:url=='homepage'}" [routerLink]="['homepage',userLocation]">
              {{ 'HEADER.NAVBAR.HOME' | translate }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item nav-text">
            <a id="shop-button" class="nav-link" [ngClass]="{active:url=='search'}" (click)="routeToSearch()">
              <font class="text-pride">
                {{ 'HEADER.NAVBAR.SHOP' | translate }}
              </font>
            </a>
          </li>
          <li class="nav-item nav-text">
            <a class="nav-link text-dark" [ngClass]="{active:url=='help'}" routerLink="/help/FAQs">
              {{ 'HEADER.NAVBAR.FAQ' | translate }}
            </a>
          </li>
          <li class="nav-item nav-text d-block d-lg-none" *ngIf="login">
            <a class="nav-link text-dark" [ngClass]="{active:urlUserPage=='userdetails'}" (click)="loadUserprofile()">
              Personal Information
            </a>
          </li>
          <li class="nav-item nav-text d-block d-lg-none" *ngIf="!login">
            <a class="nav-link text-dark" [ngClass]="{active:urlUserPage=='login'}" routerLink="/login">
              Login/Register
            </a>
          </li>
          <li class="nav-item nav-text d-block d-lg-none" *ngIf="login">
            <a class="nav-link text-dark" [ngClass]="{active:urlUserPage=='wishlist'}" [routerLink]="['/user', 'wishlist']">
              {{ 'HEADER.NAVBAR.WISHLIST' | translate }}
            </a>
          </li>
          <li class="nav-item nav-text d-block d-lg-none" *ngIf="login">
            <a class="nav-link text-dark" [ngClass]="{active:urlUserPage=='carrybag'}" [routerLink]="['/user', 'carrybag']">
              {{ 'HEADER.NAVBAR.CARRYBAG' | translate }}
            </a>
          </li>
          <div *ngIf="login">
            <li class="nav-item nav-text d-block d-lg-none">
              <a class="nav-link text-dark" [ngClass]="{active:url=='wheel'}" [routerLink]="['/wheel']">
                {{ 'HEADER.NAVBAR.SPIN-WHEEL' | translate }}
              </a>
            </li>
          </div>
          <div *ngIf="login">
            <li class="nav-item nav-text d-block d-lg-none">
              <a class="nav-link text-dark" (click)="logout()" [routerLink]="['/homepage',userLocation]">
                {{ 'HEADER.NAVBAR.LOGOUT' | translate }}
              </a>
            </li>
          </div>          
        </ul>
      </div>
      <div class="large mt-2 d-none d-lg-block">
        <ul class="profile mb-0">
          <div *ngIf="login">
            <li class="pt-2 loggedIn-name">
              <a (click)="loadUserprofile()"><span class="pr-3">{{user}}</span><i class="far fa-user"></i></a>
            </li>
          </div>
          <div *ngIf="!login">
            <li class="pt-2">
              <a routerLink="/login"><i class="far fa-user"></i></a>
            </li>
          </div>
          <li *ngIf="!login" class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle m-0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <div *ngIf="login" class="dropdown-menu m-0 p-0 justify-content-left" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/user', 'wishlist']">{{ 'HEADER.NAVBAR.WISHLIST' | translate }}</a>
              <a class="dropdown-item" [routerLink]="['/user', 'carrybag']">{{ 'HEADER.NAVBAR.CARRYBAG' | translate }}</a>
            </div>
          </li>
          <li *ngIf="login" class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle m-0 px-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="dropdown-menu m-0 p-0 justify-content-left" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/user', 'wishlist']">{{ 'HEADER.NAVBAR.WISHLIST' | translate }}</a>
              <a class="dropdown-item" [routerLink]="['/user', 'carrybag']">{{ 'HEADER.NAVBAR.CARRYBAG' | translate }}</a>
            </div>
          </li>
          <div *ngIf="login">
             <li class="nav-item nav-text display">
               <a [routerLink]="['/wheel']"><i class="fab fa-galactic-republic fa-2x wheel"></i></a>
               <!-- <a class="text-dark font-weight-bold " ><img [src]="'../../../../../../assets/wheel_header.gif'" alt="WHEEL" ></a> -->
            </li>
            <li  class="nav-item nav-text display">
              <a class="text-dark font-weight-bold logout" (click)="logout()" [routerLink]="['/homepage',userLocation]">{{ 'HEADER.NAVBAR.LOGOUT' | translate }}</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
