.add-offer{
	padding-top: 1rem;
	padding-right: 1rem;
}
.add-offer-list{
	padding-top: 12px;
}
.add-offer-card{
   width:18rem;
}
.card-title{
	font-family: sans-serif,'Sree Krushnadevaraya','Suranna','Ramaraja',"Mukta Malar";
}

.error{
		color: red;
	font-size: 12px;
}

.btn-util:hover {
		background-color: #018b8b;
		color: white;
}

@media (max-width: 770px) {
	.btn-large {
		display: none !important;
	}
}

@media (min-width: 769px) {
	.btn-small {
		display: none ;
	}
}