<div class="add-offer">
  <!-- Div will create the validate button -->
  <div class="d-flex bg-dark p-3">
    <div class="col ">
      <button type="button" class="btn btn-light btn-util btn-large" data-toggle="modal" data-target="#myAddofferModal">{{ 'USER.ADD-OFFER' |  translate }}</button>
      <button type="button" class="btn btn-light btn-util btn-small" data-toggle="modal" data-target="#myAddofferModal" title="{{ 'USER.ADD-OFFER' | translate }}"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-light d-flex btn-util justify-content-end btn-large" data-toggle="modal" data-target="#couponVerifyModal">{{ 'USER.OFFER.VALIDATE-COUPON' |  translate }}</button>
      <button type="button" class="btn btn-light btn-util btn-small" data-toggle="modal" data-target="#couponVerifyModal" title="{{ 'USER.OFFER.VALIDATE-COUPON' | translate }}"><i class="far fa-money-bill-alt"></i></button>
    </div>
  </div>

  <!-- This div will create the cards of offer uploaded by vendor -->
  <div class="container mt-2">
    <div class="row ">
      <div class="col-md-4 add-offer-list justify-content-center d-flex " *ngFor="let offer of offers  | paginate:{itemsPerPage : 6, currentPage : p}">
        <div class="card border border-dark add-offer-card ">
          <div class="card-body ">
            <h5 class="card-title">{{offer.offerTitle.toUpperCase()}}</h5>
            <p class="card-text">
              {{ 'USER.OFFER.VALIDITY' |  translate }}{{offer.offerValidity | date}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{offer.offerDescription}}</li>
            <li class="list-group-item">{{ 'HOMEPAGE.PRODUCT-LIST.RS' |  translate }}{{offer.originalPrice}}</li>
            <li class="list-group-item">{{offer.discount}}{{ 'PRODUCT-PAGE.PER' |  translate }}</li>
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-secondary" (click)="updateOffer(offer.offerId)" data-toggle="modal" data-target="#myModal">{{ 'BUTTONS.UPDATE' |  translate }}</button>
            <button type="button" class="btn btn-dark" (click)="deleteOffer(offer.offerId)"  data-toggle="button" aria-pressed="false"  autocomplete="off" (click)="deleteSubscriptions(subscriptionlist.userId,subscriptionlist.vendorId)" data-toggle="tooltip" data-placement="bottom"  title="{{ 'BUTTONS.DELETE' | translate }}"><i class="fas fa-trash-alt" ></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-5">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  <!-- This div will create the modal to update the existing offer -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title ">{{ 'USER.OFFER.UPDATE-OFFER' |  translate }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form #updateOfferForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Select Category">{{ 'HOMEPAGE.CATEGORIES.CATEGORY' |  translate }}</label>
                <select required class="custom-select custom-select-md mb-3"  name="offerCategories" [(ngModel)]="offerCategories">
                  <option value="sports">{{ 'HOMEPAGE.CATEGORIES.SPORTS' |  translate }}</option>
                  <option value="clothing">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' |  translate }}</option>
                  <option value="food">{{ 'HOMEPAGE.CATEGORIES.FOOD' |  translate }}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="discount">{{ 'USER.OFFER.DISCOUNT' |  translate }}</label>
                <input type="discount" class="form-control" id="discount" placeholder="{{discount}}" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}" ngModel #discountsField="ngModel" required pattern="^[1-9][0-9]?$|^99$">
                <div *ngIf="discountsField.touched && discountsField.errors">
                  <div class="error" *ngIf="discountsField.errors.pattern">
                    Please enter numbers only between 0 to 100
                  </div>
                  <div class="error" *ngIf="discountsField.errors.required">
                    Discount is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="keywords"> {{ 'USER.OFFER.KEYWORD' |  translate }}</label>
                <input type="keywords" class="form-control" id="keywords" placeholder="{{keywords}}" [(ngModel)]="keywords" [ngModelOptions]="{standalone: true}" ngModel #keywordField="ngModel" required pattern="^([a-zA-Z]+|[0-9]*)+([a-zA-Z]+[0-9]*|\s*|,*)*[a-zA-Z]+$|^([a-zA-Z]+|[0-9]*)+(\s*|,*|[0-9]+[a-zA-Z]+)*[a-zA-Z]+$">
                <div *ngIf="keywordField.touched && keywordField.errors">
                  <div class="error" *ngIf="keywordField.errors.pattern">
                    Please enter proper name
                  </div>
                  <div class="error" *ngIf="keywordField.errors.required">
                    Keywords are required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="offerValidity"> {{ 'USER.OFFER.VALIDITY' |  translate }}</label>
                <input type="date" class="form-control" id="offerValidity" placeholder="{{offerValidity}}" [(ngModel)]="offerValidity" [ngModelOptions]="{standalone: true}" required ngModel #validityyField="ngModel">
                <div *ngIf="validityyField.touched && validityyField.errors">
                  <div class="error" *ngIf="validityyField.errors.required">
                    Validity is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="offerDescription"> {{ 'USER.OFFER.DESCRIPTION' |  translate }}</label>
                <input type="offerDescription" class="form-control" id="offerDescription" placeholder="{{offerDescription}}" [(ngModel)]="offerDescription" [ngModelOptions]="{standalone: true}" required ngModel #prodDesField="ngModel" pattern="^([a-zA-Z]+|[0-9]*)+.*([a-zA-Z]+|[0-9]+)+$">
                <div *ngIf="prodDesField.touched && prodDesField.errors">
                  <div class="error" *ngIf="prodDesField.errors.pattern">
                    Please enter proper name
                  </div>
                  <div class="error" *ngIf="prodDesField.errors.required">
                    Description is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="offerTerms">{{ 'USER.OFFER.TAC' |  translate }}</label>
                <input type="offerTerms" class="form-control" id="offerTerms" placeholder="{{offerTerms}}" [(ngModel)]="offerTerms" [ngModelOptions]="{standalone: true}" required ngModel #termField="ngModel">
                <div *ngIf="termField.touched && termField.errors">
                  <div class="error" *ngIf="termField.errors.required">
                    Terms are required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="offerTitle">{{ 'USER.OFFER.NAME' |  translate }}</label>
                <input type="offerTitle" class="form-control" id="offerTitle" placeholder="{{offerTitle}}" [(ngModel)]="offerTitle" [ngModelOptions]="{standalone: true}" ngModel #offersField="ngModel" required pattern="^([a-zA-Z]+|[0-9]*)+.*([a-zA-Z]+|[0-9]+)+$">
                <div *ngIf="offersField.touched && offersField.errors">
                  <div class="error" *ngIf="offersField.errors.pattern">
                    Please enter proper name
                  </div>
                  <div class="error" *ngIf="offersField.errors.required">
                    Offer name is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="originalPrice">{{ 'USER.OFFER.O-PRICE' |  translate }}</label>
                <input type="originalPrice" class="form-control" id="originalPrice" placeholder="{{originalPrice}}" [(ngModel)]="originalPrice" [ngModelOptions]="{standalone: true}" required ngModel #pricesField="ngModel" pattern="^[0-9]+(\.[0-9]{0,2})?$">
                <div *ngIf="pricesField.touched && pricesField.errors">
                  <div class="error" *ngIf="pricesField.errors.pattern">
                    Please enter numbers only(upto 2 decimal precision) 
                  </div>
                  <div class="error" *ngIf="pricesField.errors.required">
                    Price is required
                  </div>
                </div>
              </div>
            </div>
            <div class = "form-comp mb-2">
              <div class = "name">
                <label for="exampleInputFile">
                 Upload Image
                </label></div>
                <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleInputFile">
              </div>

              <button type="submit" class="btn button justify-content-center" data-dismiss="modal" (click)="submit()">{{ 'BUTTONS.SUBMIT' |  translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- This div will create modal to update the offer -->
    <div id="myAddofferModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header ">
            <h4 class="modal-title ">{{ 'USER.ADD-OFFER' |  translate }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>          
          <div class="modal-body">
            <form #addOfferForm="ngForm" >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Select Category">{{ 'HOMEPAGE.CATEGORIES.CATEGORY' |  translate }}</label>
                  <select required class="custom-select custom-select-md mb-3"  name="offerCategories" [(ngModel)]="offerCategories">
                    <option value="sports">{{ 'HOMEPAGE.CATEGORIES.SPORTS' |  translate }}</option>
                    <option value="clothing">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' |  translate }}</option>
                    <option value="food">{{ 'HOMEPAGE.CATEGORIES.FOOD' |  translate }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="discount">{{ 'USER.OFFER.DISCOUNT' |  translate }}</label>
                  <input type="number" id="discount" placeholder="{{discount}}" class="form-control"
                  [(ngModel)]="discount" [ngModelOptions]="{standalone: true}" ngModel #discountField="ngModel" required pattern="^[1-9][0-9]?$|^99$">
                  <div *ngIf="discountField.touched && discountField.errors">
                    <div class="error" *ngIf="discountField.errors.pattern">
                      Please enter numbers only between 0 to 100
                    </div>
                    <div class="error" *ngIf="discountField.errors.required">
                      Discount is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="keywords"> {{ 'USER.OFFER.KEYWORD' |  translate }}</label>
                  <input type="keywords" class="form-control" id="keywords" placeholder="{{keywords}}" [(ngModel)]="keywords" [ngModelOptions]="{standalone: true}" ngModel #keywordsField="ngModel" required pattern="^([a-zA-Z]+|[0-9]*)+([a-zA-Z]+[0-9]*|\s*|,*)*[a-zA-Z]+$|^([a-zA-Z]+|[0-9]*)+(\s*|,*|[0-9]+[a-zA-Z]+)*[a-zA-Z]+$">
                  <div *ngIf="keywordsField.touched && keywordsField.errors">
                    <div class="error" *ngIf="keywordsField.errors.pattern">
                      Please enter proper name
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="offerValidity">{{ 'USER.OFFER.VALIDITY' |  translate }}</label>
                  <input type="date" class="form-control" id="offerValidity" placeholder="{{offerValidity}}" [(ngModel)]="offerValidity" [ngModelOptions]="{standalone: true}" required ngModel #validityField="ngModel">
                  <div *ngIf="validityField.touched && validityField.errors">
                    <div class="error" *ngIf="validityField.errors.required">
                      Validity is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="offerDescription">{{ 'USER.OFFER.DESCRIPTION' |  translate }}</label>
                  <input type="offerDescription" class="form-control" id="offerDescription" placeholder="{{offerDescription}}" [(ngModel)]="offerDescription" [ngModelOptions]="{standalone: true}" required ngModel #prodDescField="ngModel" pattern="^([a-zA-Z]+|[0-9]*)+.*([a-zA-Z]+|[0-9]+)+$">
                  <div *ngIf="prodDescField.touched && prodDescField.errors">
                    <div class="error" *ngIf="prodDescField.errors.pattern">
                      Please enter proper name
                    </div>
                    <div class="error" *ngIf="prodDescField.errors.required">
                      Description is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="offerTerms">{{ 'USER.OFFER.TAC' |  translate }}</label>
                  <input type="offerTerms" class="form-control" id="offerTerms" placeholder="{{offerTerms}}" [(ngModel)]="offerTerms" [ngModelOptions]="{standalone: true}" required ngModel #termsField="ngModel">
                  <div *ngIf="termsField.touched && termsField.errors">
                    <div class="error" *ngIf="termsField.errors.required">
                      Terms are required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="offerTitle">{{ 'USER.OFFER.NAME' |  translate }}</label>
                  <input type="offerTitle" class="form-control" id="offerTitle" placeholder="{{offerTitle}}" [(ngModel)]="offerTitle" [ngModelOptions]="{standalone: true}" ngModel #offerField="ngModel" required pattern="^([a-zA-Z]+|[0-9]*)+.*([a-zA-Z]+|[0-9]+)+$">
                  <div *ngIf="offerField.touched && offerField.errors">
                    <div class="error" *ngIf="offerField.errors.pattern">
                      Please enter proper name
                    </div>
                    <div class="error" *ngIf="offerField.errors.required">
                      Offer name is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="originalPrice">{{ 'USER.OFFER.PRICE' |  translate }}</label>
                  <input type="text" class="form-control" id="originalPrice" placeholder="{{originalPrice}}" [(ngModel)]="originalPrice" [ngModelOptions]="{standalone: true}" required ngModel #priceField="ngModel" pattern="^[0-9]+(\.[0-9]{0,2})?$">
                  <div *ngIf="priceField.touched && priceField.errors">
                    <div class="error" *ngIf="priceField.errors.pattern">
                      Please enter numbers only(upto 2 decimal precision) 
                    </div>
                    <div class="error" *ngIf="priceField.errors.required">
                      Price is required
                    </div>
                  </div>
                </div>
              </div>
              <div class ="form-comp mb-2">
                <div class = "name">
                  <label for="exampleInputFile">
                    Upload Image
                  </label></div>
                  <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleInputFile">
                </div>
                <button type="submit" class="btn  btn-secondary button justify-content-center" data-dismiss="modal"  [disabled]="addOfferForm.invalid" (click)="getOffer()">{{ 'USER.ADD-OFFER' |  translate }}</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- This div will create modal to verify coupon -->
      <div id="couponVerifyModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header ">
              <h4 class="modal-title ">{{ 'USER.OFFER.VERIFY-COUPON' |  translate }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="coupon">{{ 'USER.OFFER.COUPON' |  translate }}</label>
                    <input type="coupon" class="form-control" id="coupon" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <button type="submit" class="btn  btn-secondary button justify-content-center" data-dismiss="modal" (click)="couponValidate()">{{ 'BUTTONS.VALIDATE' |  translate }}</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark btn-default" data-dismiss="modal">{{ 'BUTTONS.CLOSE' |  translate }}</button>
            </div>
          </div>
        </div>
      </div>