
<div  class="container-fluid align-items-center user mt-2">

<div id='snav' class=' align-items-center en'>

  <ul class="align-self-center">

    <li class="m-3 p-2">
      <a [ngClass]="{active:userList=='userdetails', inactive:userList!='userdetails'}" [routerLink]="['/user', 'userdetails']">
        <i class="far fa-user-circle"></i>
        <span>{{ 'USER.PERSONAL-INFO' |  translate }}</span>
      </a>
    </li>

     <li class="m-3 p-2">
      <a [ngClass]="{active:userList=='carrybag', inactive:userList!='carrybag'}" [routerLink]="['/user', 'carrybag']">
        <i class="fas fa-shopping-bag"></i>
        <span>{{ 'USER.CARRYBAG' |  translate }}</span>
      </a>
    </li>

     <li class="m-3 p-2">
      <a [ngClass]="{active:userList=='wishlist', inactive:userList!='wishlist'}" [routerLink]="['/user', 'wishlist']">
        <i class="fas fa-shopping-basket"></i>
        <span >{{ 'USER.WISHLIST' |  translate }}</span>
      </a>
    </li>
    <li class="m-3 p-2">
      <a [ngClass]="{active:userList=='subscriptionlist', inactive:userList!='subscriptionlist'}" [routerLink]="['/user', 'subscriptionlist']">
        <i class="fas fa-heart"></i>
        <span >{{ 'USER.SUBSCRIBE' |  translate }}</span>
      </a>
    </li>
    <div *ngIf="role=='vendor' || role=='Vendor'">
      <li class="m-3 mb-0 p-2 pb-0">
        <a [ngClass]="{active:userList=='add-offer', inactive:userList!='add-offer'}" *ngIf="role=='Vendor'||'vendor'" [routerLink]="['/user', 'add-offer']">
          <i class="far fa-id-badge"></i>
            <span >{{ 'USER.VENDOR-DASHBOARD' |  translate }}</span>
        </a>
      </li>
    </div>
    <div *ngIf="role=='Customer'">
      <li class="m-3 mb-0 p-2 pb-0">
        <a [ngClass]="{active:userList=='be-a-seller', inactive:userList!='be-a-seller'}" *ngIf="role=='Customer'" [routerLink]="['/user', 'be-a-seller']">
          <i class="fas fa-id-card"></i>
          <span >{{ 'USER.BE-SELLER' |  translate }}</span>
        </a>
      </li>
    </div>
  </ul>
</div>


<div class="user-content ml-5 pl-4">
  <div [ngSwitch]="userList">
    <div *ngSwitchCase="'userdetails'">
      <app-userdetails></app-userdetails>
    </div>
    <div *ngSwitchCase="'carrybag'">
      <app-carrybag></app-carrybag>
    </div>
    <div *ngSwitchCase="'wishlist'">
      <app-wishlist></app-wishlist>
    </div>
    <div *ngSwitchCase="'subscriptionlist'">
      <app-subscription-list></app-subscription-list>
    </div>
    <div *ngSwitchCase="'add-offer'">
      <app-add-offer></app-add-offer>
    </div>
    <div *ngSwitchCase="'be-a-seller'">
      <app-be-a-seller (success)="changeSidebarVender($event)"></app-be-a-seller>
    </div>
  </div>
</div>
