<div class = "container-fluid">
  <div class="text-center">
    <nav class="navbar navbar-light nav d-flex justify-content-center">
      <form id="search" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
        <select name="category-selected" class="dropdown btn btn-light dropdown-toggle mr-0 search-categories" [(ngModel)]="category">
          <option class="dropdown-item" value="{{ 'HOMEPAGE.CATEGORIES.CATEGORY' | translate }}" selected>{{ 'HOMEPAGE.CATEGORIES.CATEGORY' | translate }}</option>
          <option class="dropdown-item" value="sports">{{ 'HOMEPAGE.CATEGORIES.SPORTS' | translate }}</option>
          <option class="dropdown-item" value="clothing">{{ 'HOMEPAGE.CATEGORIES.CLOTHES' | translate }}</option>
          <option class="dropdown-item" value="food">{{ 'HOMEPAGE.CATEGORIES.FOOD' | translate }}</option>
        </select>
        <input (keydown)="enterPressed($event)" id="input" list="suggestions" name="query" [(ngModel)]="query" class="form-control mr-0 search-box" (keyup)="searchTerm$.next($event.target.value)" autocomplete="off" type="text"
        placeholder="{{ 'HOMEPAGE.PAGE.SEARCH' | translate }}" aria-label="Search">
        <!-- search button -->
        <!-- on click of button show values for category and field-->
        <button id="searchButton" [routerLink] ="['/search/',category,query]" type="button"  class="btn btn-light search-btn"><i class="fas fa-search"></i></button>
      </form>
    </nav>
  </div>
</div>
<!-- associating data list with the search query --> <!--flag for making sure default doesnt show up -->
<datalist id="suggestions">
  <div *ngIf="flag">
    <option *ngFor="let result of results| slice:0:9">
      {{result}}
    </option>
  </div>
</datalist>