<div>
	<div class="container-fluid mb-5">
		<div class="row mt-3">
			<div class="col-sm-12 col-md-4 col-lg-4 ml-5">
				<a (click)='backClicked()'><font class="description"><font class="back-arrow"><</font> Back</font></a>
			</div>
		</div>
    <div class="row align-items-top pt-4 mt-1">
    	<aside class="col-sm-12 col-md-4 col-lg-4 ml-5">
       <!-- Offer Images -->
       <!--
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
         <div class="carousel-item">
           
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'HOMEPAGE.PAGE.PREV' | translate }}</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'HOMEPAGE.PAGE.NEXT' | translate }}</span>
      </a>
    </div>-->
    <!-- End of Offer Images-->
    <img class="d-block w-100" src={{imageURL}} alt="Second slide">
  </aside>

  <div class="col-sm-12 col-md-8 col-lg-6 ml-5">
   <div class="row">
    <div class="col">
      <span class="text-lead text-poiret title"><b>{{productName}}</b></span>
    </div>
  </div>
  <div class="row mt-2">
   <div class="col">
    <span class="text-lead text-poiret description"><blockquote class="text-justify">{{productDescription}}</blockquote></span>
  </div>
</div>
<div class="row">
  <div class="col-3">
   <label class="text-heading">{{ 'PRODUCT-PAGE.ORIGINAL' | translate }}</label>
 </div>
 <div class="col-3">
   <span class="text-lead text-poiret price">{{ 'HOMEPAGE.PRODUCT-LIST.RS' | translate }} {{productOriginalPrice}}</span>
 </div>
</div>
<div class="row">
  <div class="col-3">
   <label class="text-heading">{{ 'PRODUCT-PAGE.DISCOUNT' | translate }}</label>
 </div>
 <div class="col-3">
   <span class="text-lead text-poiret">{{productDiscount}}{{ 'PRODUCT-PAGE.PER' | translate }}</span>
 </div>
</div>
<div class="row">
  <div class="col-3">
    <label class="text-heading">{{ 'PRODUCT-PAGE.SELLER' | translate }}</label>
  </div>
  <div class="col-6 text-left">
   <span class="vendor" [routerLink]="['/', 'vendorInfo',this.productSeller]" > {{shop}}</span>
 </div>
</div>
<div class="row">
  <div class="col-3">
   <label class="text-heading">{{ 'PRODUCT-PAGE.VALIDITY' | translate }}</label>
 </div>
 <div class="col-3">
   <span class="text-lead text-poiret">{{productValidity | date}}</span>
 </div>
</div>

<div *ngIf="user">
 <div class="row mt-5">
  <!-- Button to add to wishlist-->
  <input class="btn btn-primary col-3 mx-3 btn-add" (click)="addToWishlist(offer)" type="button" value="{{ 'BUTTONS.WISHLIST' | translate }}">
  <!-- End of button to add to widhlist-->
  <!-- Button to add to carrybag-->
  <input class="btn btn-primary col-3 mx-3 btn-add" (click)="addToCarrybag(offer)" type="button" value="{{ 'BUTTONS.CARRYBAG' | translate }}">
  <!-- End of button to add to carrybag-->
</div>
</div>

<div *ngIf="!user">
 <!-- <div class="container-fluid mt-1 mb-3"> -->
   <div class="row mt-5">
     <!-- Button to add to wishlist-->
     <input class="btn btn-primary col-3 mx-3 btn-add" [routerLink]="['/login']" type="button" value="{{ 'BUTTONS.WISHLIST' | translate }}">
     <!-- End of button to add to widhlist-->

     <!-- Button to add to carrybag-->
     <input class="btn btn-primary col-3 mx-3 btn-add" [routerLink]="['/login']" type="button" value="{{ 'BUTTONS.CARRYBAG' | translate }}">
     <!-- End of button to add to carrybag-->
   </div>
   <!-- </div> -->
 </div>
</div>
</div>
</div>
</div>


<!-- related products

<div class="divbody">
  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"> <!-- *ngFor="let i of arr | slice:0:3"
        <div class="py-5">
          <div class="container">
            <div class=corousel_title>{{ 'PRODUCT-PAGE.ALSO-BUY' | translate }}</div>
            <div class="row">
              <div class="col-md-3" *ngIf="relatedProducts[0]"><!--  *ngFor="let product of relatedProducts | slice:0:3"
                <a [routerLink]="['/', 'product',relatedProducts[0].userId,relatedProducts[0].offerId]">
                  <div class="card">
                    <div class="textWithblurredImage">
                      <img class="card-img-top" src="../../../assets/card.jpeg" alt="Card image cap">
                      <div class="para">Offer Description</div>
                    </div>
                    <div class="card-body">
                    </div>
                  </div>
                </a>
                <b>{{relatedProducts[0].offerTitle}}</b><br>
                Rs.{{relatedProducts[0].originalPrice}}
                <br>
              </div>
              <div class="col-md-3" *ngIf="relatedProducts[1]">
                <a [routerLink]="['/', 'product',relatedProducts[1].userId,relatedProducts[1].offerId]">
                  <div class="card">
                    <div class="textWithblurredImage">
                      <img class="card-img-top" src="../../assets/related_products/s1.jpg" alt="Card image cap">
                      <div class="para">Offer Description</div>
                    </div>
                    <div class="card-body">
                    </div>
                  </div>
                </a>
                <b>{{relatedProducts[1].offerTitle}}</b><br>
                Rs.{{relatedProducts[1].originalPrice}}
              </div>
              <div class="col-md-3" *ngIf="relatedProducts[2]">
               <a [routerLink]="['/', 'product',relatedProducts[2].userId,relatedProducts[2].offerId]">

                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/ts4.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[2].offerTitle}}</b><br>
              Rs.{{relatedProducts[2].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[3]">
              <a [routerLink]="['/', 'product',relatedProducts[3].userId,relatedProducts[3].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/j2.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[3].offerTitle}}</b><br>
              Rs.{{relatedProducts[3].originalPrice}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="py-5">
        <div class="container">
          <div class=corousel_title>Customers who bought this item also bought</div>
          <div class="row">
            <div class="col-md-3" *ngIf="relatedProducts[4]">
              <a [routerLink]="['/', 'product',relatedProducts[4].userId,relatedProducts[4].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/j3.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[4].offerTitle}}</b><br>
              Rs.{{relatedProducts[4].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[5]">
              <a [routerLink]="['/', 'product',relatedProducts[5].userId,relatedProducts[5].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/s3.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[5].offerTitle}}</b><br>
              Rs.{{relatedProducts[5].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[6]">
              <a [routerLink]="['/', 'product',relatedProducts[6].userId,relatedProducts[6].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/ts2.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[6].offerTitle}}</b><br>
              Rs.{{relatedProducts[6].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[7]">
              <a [routerLink]="['/', 'product',relatedProducts[7].userId,relatedProducts[7].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/s2.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[7].offerTitle}}</b><br>
              Rs.{{relatedProducts[7].originalPrice}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item" >
      <div class="py-5">
        <div class="container">
          <div class=corousel_title>Customers who bought this item also bought</div>
          <div class="row">
            <div class="col-md-3" *ngIf="relatedProducts[8]">
              <a [routerLink]="['/', 'product',relatedProducts[8].userId,relatedProducts[8].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                  <img class="card-img-top" src="../../assets/related_products/ts1.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[8].offerTitle}}</b><br>
              Rs.{{relatedProducts[8].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[9]">
              <a [routerLink]="['/', 'product',relatedProducts[9].userId,relatedProducts[9].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/j1.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[9].offerTitle}}</b><br>
              Rs.{{relatedProducts[9].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[10]">
              <a [routerLink]="['/', 'product',relatedProducts[10].userId,relatedProducts[10].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/s4.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[10].offerTitle}}</b><br>
              Rs.{{relatedProducts[10].originalPrice}}
              <br>
            </div>
            <div class="col-md-3" *ngIf="relatedProducts[11]">
              <a [routerLink]="['/', 'product',relatedProducts[11].userId,relatedProducts[11].offerId]">
                <div class="card">
                  <div class="textWithblurredImage">
                    <img class="card-img-top" src="../../assets/related_products/j4.jpg" alt="Card image cap">
                    <div class="para">Offer Description</div>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </a>
              <b>{{relatedProducts[11].offerTitle}}</b><br>
              Rs.{{relatedProducts[11].originalPrice}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
-->
