<div class="container p-5">
  <div class="row text-center">
    <div class="col">
      <img id="img1" src="../../../assets/wheel1.gif" alt="wheel" class="img-fluid">
      <button (click)="spinWheel()" class="btn mt-4 btn-spin">Spin</button>
    </div>
    <div class="col d-flex align-items-center">
      <i class="fa fa-arrow-left fa-4x arrow align-middle" aria-hidden="true" ></i>
      <!-- <img id="img2" src="../../../assets/arrow.jpg" alt="arrow" class="align-middle"> -->
    </div>
    <div class="col pt-5">
      <span class="text">
        Your <b>OS-Cash</b>:- {{osMoney}}
        <br><h5><b>Step 1</b></h5>
        Login to your OS-Account with your register Email Id  and password.
        <h5><b>Step 2</b></h5>
        Generate the Coupon Id from Carry Bag
        <h5><b>Step 3</b></h5>
        Ask Vendor to verify your Coupon Id.
        <h5><b>Step 4</b></h5>
        Once Vendor verify  your Coupon Id.You will get discount equal to your osCash
      </span>
    </div>
  </div>
</div>
