#img1{
    z-index: 1;
    position: relative;
    transition-duration: 3s;
}

#img2{
    top: -10px;
}

.wheel-bg {
  background-color: white;
}

.btn-spin {
  background: #018b8b;
  color: white;
  width: 10rem;
}

.arrow{
  color: #018b8b;
  margin-bottom: 2rem;
}

@media (max-width: 767.98px) {
  .arrow {
    height:3rem;
  }

  .text {
    font-size: 1rem;
  }
}
