<div class="py-5  my-3 mt-4">
  <div class="container align-items-center ">
    <div class="row border rounded py-2 ">
      <form [formGroup]="form" class="col-12">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="firstName"> {{ 'USER.SELLER.FIRST-NAME' | translate }}</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" >
          </div>
          <div class="form-group col-md-3">
            <label for="lastName">{{ 'USER.SELLER.LAST-NAME' | translate }}</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" >
          </div>
          <div class="form-group col-md-3">
            <label for="phone">{{ 'USER.SELLER.CONTACT' | translate }} </label>
            <input type="text" class="form-control" id="phone" formControlName="phone" >
                    <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="alert-msg">
                  <div *ngIf="form.get('phone').hasError('minlength') && !form.get('phone').hasError('pattern')">
                    {{ 'LOGIN.ERROR-DIG-LESS' | translate }}
                  </div>
                  <div *ngIf="form.get('phone').hasError('maxlength') && !form.get('phone').hasError('pattern')">
                    {{ 'LOGIN.ERROR-DIG-MORE' | translate }}
                </div>
                <div *ngIf="form.get('phone').hasError('pattern')">
                  {{ 'LOGIN.INVALID' | translate }}{{ 'USER.SELLER.CONTACT' | translate }}
                </div>
              </div>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="emailId">{{ 'USER.SELLER.EMAIL' | translate }}</label>
            <input type="emailId" class="form-control" id="emailId" formControlName="emailId">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">{{ 'USER.SELLER.ADDRESS.TITLE' | translate }}</label>
          <input type="text" class="form-control" id="inputAddress" formControlName="street">
        </div>
        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="inputState">{{ 'USER.SELLER.ADDRESS.STATE' | translate }}</label>
            <select (change)="showRelevantCitiesHome()" id="inputState" name=slist class="form-control" formControlName="state" >
              <option value="state">{{state}}</option>
              <option *ngFor="let state of states" value={{state}}>{{state}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity">{{ 'USER.SELLER.ADDRESS.CITY' | translate }}</label>
            <select name=slist class="form-control" id="inputCity" formControlName="city">
              <option value="{{city}}">{{city}}</option>
              <option *ngFor="let cityy of homeCities" value={{cityy}}>{{cityy}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">{{ 'USER.SELLER.ADDRESS.ZIP' | translate }}</label>
            <input type="text" class="form-control" id="inputZip" formControlName="zip">
          </div>
        </div>
        <hr/>
        <!-- only visible when the logged in person is a seller-->
        <div *ngIf="role=='Vendor' || role=='vendor'">
          <div class="form-group">
            <label for="inputShopName">{{ 'USER.SELLER.ADDRESS.SHOP-NAME' | translate }}</label>
            <input type="text" class="form-control" id="inputShopName" formControlName="shopName">
              <div *ngIf="form.get('shopName').touched && form.get('shopName').invalid" class="alert-msg">
                  <div *ngIf="form.get('shopName').hasError('required')">
                    {{ 'USER.SELLER.ADDRESS.SHOP' | translate }}{{ 'LOGIN.REQ' | translate }}
                  </div>
                </div>
          </div>
          <div class="checkbox pb-2">
            <input type="checkbox" formControlName="sameAddress" (click)="setAddress()" id="SameCheckbox" value="SameAsAbove"> {{ 'USER.SELLER.ADDRESS.SAME' | translate }}


          </div>


          <div class="form-group">
            <label for="inputShopAddress">{{ 'USER.SELLER.ADDRESS.SHOP' | translate }}</label>
            <input type="text" class="form-control" id="inputShopAddress" formControlName="shopStreet">
                  <div *ngIf="form.get('shopStreet').touched && form.get('shopStreet').invalid" class="alert-msg">
                  <div *ngIf="form.get('shopStreet').hasError('required')">
                    {{ 'USER.SELLER.ADDRESS.TITLE' | translate }}{{ 'LOGIN.REQ' | translate }}
                  </div>
                </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="inputShopState">{{ 'USER.SELLER.ADDRESS.STATE' | translate }}</label>
              <select (change)="showRelevantCitiesShop()" name=slist class="form-control" id="inputShopState" formControlName="shopState" >
                <option value="{{shopState}}">{{shopState}}</option>
                <option *ngFor="let state of states" value={{state}}>{{state}}</option>
              </select>
                     <div *ngIf="form.get('shopState').touched && form.get('shopState').invalid" class="alert-msg">
                      <div *ngIf="form.get('shopState').hasError('required')" >
                        {{ 'USER.SELLER.ADDRESS.STATE' | translate }}{{ 'LOGIN.REQ' | translate }}
                      </div>
                    </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputShopCity">{{ 'USER.SELLER.ADDRESS.CITY' | translate }}</label>
              <select name=slist class="form-control" id="inputShopCity" formControlName="shopCity" >
                <option value="{{shopCity}}">{{shopCity}}</option>
                <option *ngFor="let shopCityy of shopCities" value={{shopCityy}}>{{shopCityy}}</option>
              </select>
                        <div *ngIf="form.get('shopCity').touched && form.get('shopCity').invalid" class="alert-msg">
                      <div *ngIf="form.get('shopCity').hasError('required')">
                        {{ 'USER.SELLER.ADDRESS.CITY' | translate }}{{ 'LOGIN.REQ' | translate }}
                      </div>
                    </div>
            </div>
            <div class="form-group col-md-2">
              <label for="inputShopZip">{{ 'USER.SELLER.ADDRESS.ZIP' | translate }}</label>
              <input type="text" class="form-control" id="inputShopZip" formControlName="shopZip">

              <div *ngIf="form.get('shopZip').touched && form.get('shopZip').invalid" class="alert-msg">
                <div *ngIf="form.get('shopZip').hasError('required')">
                  {{ 'USER.SELLER.ADDRESS.ZIP' | translate }}{{ 'LOGIN.REQ' | translate }}
                </div>
                 <div *ngIf="form.get('shopZip').hasError('pattern')">
                  {{ 'LOGIN.INVALID' | translate }}{{ 'USER.SELLER.ADDRESS.ZIP' | translate }}
                </div>
                <div *ngIf="form.get('shopZip').hasError('minlength')">
                   {{ 'LOGIN.ERROR-DIGG-LESS' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- If user has fill all the above form then the below form will be enabled-->
        <button *ngIf="role=='vendor' || role=='Vendor'" type="submit" class="btn button btn-primary justify-content-center" (click)="submit()">{{ 'BUTTONS.SAVE' | translate }}</button>
        <button *ngIf="role=='Customer' || role=='customer'" type="submit" class="btn button btn-primary justify-content-center" (click)="submit()" >{{ 'BUTTONS.SAVE' | translate }}</button>
        <button type="button" class="btn button btn-primary justify-content-center" (click)="undisableTxt()"  [disabled]="form.invalid" [ngClass]="{hidden:status=='edit-mode', visible:status=='none'}">{{ 'BUTTONS.EDIT' | translate }}</button>
        <button type="button" class="btn button btn-primary justify-content-center" (click)="cancel()" [ngClass]="{hidden:status=='none', visible:status=='edit-mode'}">{{ 'BUTTONS.CANCEL' | translate }}</button>
      </form>
    </div>
  </div>