<!--Login-register-front-page-->
<div class="py-5 loginContainer">
  <div class="container">
    <div class="card-group">
      <div class="card text-white cardPadding cards bg-primary col-sm-6 mx-auto">
        <div class="card-body">
          <h1 class="mb-4">{{ 'LOGIN.UPDATEPASS' | translate }}</h1>
          <form [formGroup]="updatePass">        
            <div class="form-group">
              <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
              <input type="password" formControlName="password" class="form-control" placeholder="{{ 'LOGIN.PASSWORD' | translate }}"> 
              <div *ngIf="updatePass.get('password').touched && updatePass.get('password').invalid" class="alert-msg">

                <div *ngIf="updatePass.get('password').hasError('maxlength') && ! updatePass.get('password').hasError('pattern')">
                 {{ 'LOGIN.ERRORPASSDIG' | translate }} More than 20 digits 
               </div>
               <div *ngIf="updatePass.get('password').hasError('required')">
                 {{ 'LOGIN.ERRORPASSREQ' | translate }}Password is required!  
               </div>
               <div *ngIf="updatePass.get('password').hasError('pattern')">
                 {{ 'LOGIN.ERRORPASSINV' | translate }}Password Invalid (Atleast one lowercase, uppercase, specialcharacter, digit, minLength 8) !
               </div>
             </div>
             <div *ngIf="updatePass.get('password').touched && updatePass.get('password').errors">
               <div class="alert-msg" *ngIf="updatePass.get('password').errors.notEquivalent">{{ 'LOGIN.ERRORPASSDIFF' | translate }}The new password and confirm password do not match
               </div>
             </div>
           </div>
           <div class="form-group">
            <label>{{ 'LOGIN.PASSWORDRE' | translate }}Re-enter Password</label>
            <input type="password" formControlName="rePassword" class="form-control" placeholder="{{ 'LOGIN.PASSWORD' | translate }}Password">
            <div *ngIf="updatePass.get('rePassword').touched && updatePass.get('rePassword').errors">
             <div class="alert-msg" *ngIf="updatePass.get('rePassword').errors.required">
               {{ 'LOGIN.PASSWORDCON' | translate }}Confirm password is required
             </div>
             <div class="alert-msg" *ngIf="updatePass.get('rePassword').errors.notEquivalent">{{ 'LOGIN.ERRORPASSDIFF' | translate }}The new password and confirm password do not match
             </div>
           </div>
         </div>
         <button type="submit" class="btn btn-secondary" [disabled]="updatePass.invalid" (click)="updatePassword()">{{ 'BUTTONS.SUBMIT' | translate }}Submit</button>
       </form>
     </div>
   </div>
 </div>
</div>
</div>



